:root {
  --main-bg-color: rbg(245, 246, 247);
  --side-panel-bg-color: rgb(51, 51, 51);
  --side-panel-items-color: rgb(141, 141, 141)
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.main-container {
  background-color: var(--main-bg-color);
  overflow-x: hidden;
}

.center-loading-div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-panel {
  background-color: var(--side-panel-bg-color);
  color: var(--side-panel-items-color);
  height: 100vh;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 0.15 !important;
}

.side-panel-button {
  margin: 10px 10px 10px 20px;
  height: 60px;
}

.side-panel-button-back {
  margin: auto 10px 10px 20px;
  height: 60px;
}